#content {
    text-align: center;
    color: azure;
  }

  h2 {
    text-align: center;
    color: aqua;
    border: 1px black solid;
    border-radius: 50px;
    padding: 3rem 2rem;
  }
  
  #cta {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color:antiquewhite
  }
  
  #cta a {
    text-decoration: none;
    background-color: rgb(149, 149, 223);
    color: var(--color-primary-800);
    padding: 1rem 2rem;
    border-radius: 20px;
    font-size: 1rem;
  }
  
  #cta a:hover {
    background-color: cadetblue;
  }

  a {
    text-decoration: none;
    color: blanchedalmond;
  }